html{
    padding: 0px;
    margin: 0px;
}

.links{
    display:flex;
    align-items: center;
    height: 70%;
    width: auto;
    cursor: pointer;
}

.navimg{
    height: 100%;
}

#articles{
    margin-right: 6vw;
}

#articles, #restaurants{
    transition: all .4s ease;
}

#articles:hover, #restaurants:hover{
    height: 80%;
}


#logo{
    height: 5.5vh;
    border-radius: 50%;
    filter:brightness(120%);
    animation: rotation 6s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.navbar{
    background-color:black;
    width: 100vw;
    height: 6vh;
    margin-left: -8px;
    margin-right: 20px;
    position:fixed;
    top:0px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.content-container, .article-cc{
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.rest-button-container{
    margin-top:10px;
    display: flex;
}

.imgdiv{
    position:relative;
    width: 100vw;
    height: 800px;
    z-index: 1;
}
.fade{
    animation: fade 1s;
}
@keyframes fade {
    from {
        opacity: .6;
    }
    to {
        opacity: 1;
    }
}

.imgmain{
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: 1;
}

.main{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: -8px;
    margin-left: -8px;
    background-color: white;
    height: 100%;
    margin-top: 55px;
    margin-bottom: -8px;
}

.prev, .next{
    font-size: 2.3vw;
    font-family: sans-serif;
    color:white;
}
.prevdiv, .nextdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: gray;
    height: 95.2%;
    top:0%;
    width: 1%;
    padding:1%;
    background-color: rgba(195, 193, 193, .2);
    cursor:pointer;
    z-index: 2;
}
.nextdiv:hover, .prevdiv:hover{
    background-color: rgba(195, 193, 193, .45);
}
.nextdiv{
    left:97%;
}
.prevdiv{
    left:0%;
}
body{
    background: #202020;
}

.rest-info{
    border-top: aqua;
    border-width: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    flex: 1;
}

.rest-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fac237;
    filter: brightness(85%);
    font-size: 30px;
}

#div-phone{
    justify-self: flex-end;
}
#div-address{
    justify-self: flex-start;
}

.fa{
    color:#fac237;
    filter: brightness(85%);
    padding-right: 5px;
}

/* RESTAURANTS */

.rest-container{
    display:grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% 50% auto;
    width: 50%;
    padding: 8px 6px 8px 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: -20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
.rest-container:hover {
  box-shadow: -10px 10px rgba(0,0,0,.25);
}

.rest-img-div{
    grid-row:1/ span 3;
    margin-right: 5px;
}

.rest-img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.rest-name{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 34px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-left: 5px;
}

.rest-desc{
    grid-column: 2/3;
    grid-row: 2/3;
    list-style: none;
    padding:0px;
    margin:0px;
}

.rest-name, .rest-desc{
    font-family: sans-serif;
}

.rest-address-2{
    font-size: 15px;
    color:black;
    font-weight: 500;
}

li{
    display: flex;
    align-items: center;
}

.fa{
    width: 40px;
    text-align: center;
}

.createrdiv{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.createrdiv *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    border:none;
    background-color: white;
    box-shadow: -10px 10px rgba(0,0,0,.15);
    transition: all .4s ease;
}
.top-buttons:hover {
  box-shadow: -5px 5px rgba(0,0,0,.25);
}

input{
    margin-top: 10px;
    width: 80%;
    height: 25px;
    border:none;
    font-size: large;
    box-shadow:inset 0 0 2px 1px #cccccc;
}

input:focus{
    outline:none;
    box-shadow:inset 0 0 2px 1px #9c9c9c;
}

.but{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100px;
    height: 30px;
    font-size: medium;
    background-color: #ddd;
    transition: all .5 ease;
    border: none;
    border-radius: 15%;
    box-shadow: 0px 5px rgba(0,0,0,.50);
}
.but:hover{
    background-color: rgb(195, 194, 194);
}
.but:active{
    transform: translatey(2px);
    box-shadow: 0px 3px rgba(0,0,0,.50);
}

.but-edit, .but-del{
    margin-left: 5px;
}

.rest-container *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rest-creater{
    width: 200px;
    height: 40px;
    font-size: medium;
    background-color: white;
    transition: all .5 ease;
    border: none;
    border-radius: 15%;
    box-shadow: 0px 10px rgba(0,0,0,.15);
    margin-top: 40px;
}
.rest-creater:hover{
    background-color: rgb(248, 248, 248);
}
.but-active, .rest-creater:active{
    transform: translatey(4px);
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px rgba(0,0,0,.15);
}

button{
    cursor: pointer;
}

.article{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
}

.article *{
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    margin-top: 10px;
    width: 90%;
    height: 55vh;
    font-size: large;
    border:none;
    box-shadow:inset 0 0 2px 1px #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:inset 0 0 2px 1px #cccccc;
}

textarea:focus{
    outline:none;
    box-shadow:inset 0 0 2px 1px #9c9c9c;
}

.art-desc{
    align-self: flex-start;
    padding-left: 6px;
}

.buttons-article{
    width: 80vw;
    box-shadow: -20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    margin-bottom: 15px;
}
.buttons-article:hover {
  box-shadow: -10px 10px rgba(0,0,0,.25);
}

.buttons-article *{
    font-family: Arial, Helvetica, sans-serif;
}

.but{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons-article #input1{
    width: 40%;
}

.newart-buttons *{
    margin-left: 4px;
    margin-right: 4px;
}

.parareview {
    margin-left: 8px;
    margin-top: 13px;
    width: 20%;
}